@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @variants responsive, hover, focus {
    .text-shadow {
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
  }
}

@layer components {
  @variants responsive, hover, focus {
    .btn {
      @apply py-2 px-4 rounded;
    }
    .btn-primary {
      @apply bg-blue-500 text-white;
    }
    .btn-secondary {
      @apply bg-gray-500 text-white;
    }

    .btn-ghost {
      @apply text-gray-500;
    }
  }
}

@layer base {
  @variants responsive, hover, focus {
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }
    h3 {
      @apply text-lg;
    }
    h4 {
      @apply text-base;
    }
    h5 {
      @apply text-sm;
    }
    h6 {
      @apply text-xs;
    }
  }
}

body {
  margin: 0;
  padding: 0;
}
